body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dice {
  width: 5rem;
  height: 5rem;
  background-color: #FFD700;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
}


.dice-container {
  display: "flex";
  justifyContent: "space-arround";
  width: 30rem;



}